
nav ul {
    display:flex;
    list-style-type: none;
    flex-direction: row;
    font-family: 'Roboto', arial, sans-serif;
    align-items:center;
    font-size: 13px;
    margin-left:-26px;
    margin-top:2px;
}   
nav ul li {
    padding: 10px;
    display:flex;
}
nav ul li a{
    color:black;
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}
#about{
    font-size:14px;
    font-family: arial, sans-serif;
}
#store{
    font-size:14px;
    font-family: arial, sans-serif;
}
#gmail{
    margin-left:auto;
}
#apps-icon{
    color: gray;
    display:flex;
    
}
li input{
    width:100px;
    border-radius:5px;
    border-color: rgb(26,115,232);
    background-color: rgb(26,115,232);
    color:white;
    border:none;
    font-size:14px;
    padding:7px;
    
}
li input:hover{
    background-color: rgb(40, 123, 231);
    
}
#google-image{
    
    margin:auto;
    margin-top: 70px;
    
}

#search-box{
    display:flex;
    margin:auto;
    margin-top: 30px;
    width:560px;
    height: 47px;
    border-radius:30px;
    border: 1px solid rgb(214, 218, 226);
    
}
#search-box:hover{
    box-shadow: 0px 0px 10px  rgb(214, 206, 206);
    
}
#search-input{
    display:flex;
    
    height:43px;
    
    width:470px;
    border:none;
    
}
#search-input:focus{
    outline:none;
}
#search-icon{
    display:flex;
    align-self:center;
    margin-left:15px;
    margin-right:10px;
    color: rgb(154,160,166);
    font-size:120%;
}
#mic-icon{
    
    display:flex;
    align-self:center;
    margin-left:auto;
    margin-right:15px;
    color:blue;
}
.google-buttons{
    display:inline-block;
    
    box-sizing: content-box;
    height:34px;
    margin-top:30px;
    background-color: rgb(248, 249, 250);
    border:rgb(248, 249, 250);
    
    font-style: 'Roboto', arial, sans-serif;
    color: rgb(60, 64,67);
    border-radius:5px;
    
}
.google-buttons:hover{
    border: 1px solid rgb(211, 211, 211);
}
#google-feeling-lucky{
    width: 108px;
    margin-left:10px;
    padding-left:17px;
    padding-right:17px;
    font-size:14px;
    
}
#google-submit{
    
    width:94px;
    padding-left:16px;
    padding-right:16px;
    
}
#submit-box{
    display:flex;
    justify-content: center;
}